$primary: #055378;

$theme-colors: (
  "primary":    #055378,
  "secondary":  #057818,
  "success":    #397805,
  "info":       #5d0578,
  "warning":    #780505,
  "danger":     #785005,
  "light":      #ffffff,
  "dark":       #000000
);

$font-family-base: 'Montserrat', sans-serif;
$font-popin: 'Poppins', sans-serif;

$border-radius: 1rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 2rem;